.top-banner {
    width:100%;
    display: flex;
    align-items:center;
    justify-content: space-around;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    background-color: #333333;
    flex-wrap: wrap;
}

.top-banner-item {
    flex-grow: 0;
    flex-shrink: 0;
}

.top-banner-button {
    padding: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    text-align: center;
    min-width: 100px;
    background-color: rgb(255, 167, 74);
    font-size: 1.2em;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}

.vkit-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    background-color: rgb(249, 249, 249);
    flex-wrap: wrap;
}

.vkit-header-image {
}

.vkit-header-title {
    margin-right: 25px;
    font-size: 2.5em;
    font-family: "Arial Black", Gadget, sans-serif;
}

.top-banner-image {
    text-align: center;
    display: inline-block;
}

.logo-section {
    background-color: rgb(249, 249, 249);
    text-align: center;
}

.below-logo-divider {
    height: 2em; 
    background-color: black;
    margin-bottom: 1em;
}

.vkit-headline {
    float:left; 
    font-weight:bold; 
    font-size: 1.5em; 
    margin-top: 0px; 
    text-transform: none !important;
}

.vkit-app {
    color: black;
    padding: 1em;
    position:relative;
}

.vkit-app ::selection {
  color: white;
}

.vkit-content-flex {
    display: flex;
}

.vkit-column {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 40%;
}

.vkit-button-column {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 20%;
    align-content: center;
}

.vkit-middle-button-holder {
    text-align: center;
}

.vkit-button {
    background-color: rgb(255, 167, 74);
    padding: 0.5em 1.5em;
    margin-bottom: 0;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 85%;
}

.vkit-button:hover {
    background-color: #5bc0de !important;
}

.top-banner-button:hover {
    background-color: #5bc0de !important;
}

.vkit-small-spacer {
    height: 0.6em
}

.vkit-link {
    text-decoration:underline; 
    font-style:italic; 
    cursor: pointer; 
    color: rgb(255, 167, 74); 
    font-weight: 300;
    font-size: 0.9em;
}

.vkit-expand-dialog {
    border:thin solid rgb(255, 167, 74);
    position:relative; 
    display:none;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
}

.vkit-instructions-block {
    float:right; 
    font-size: 1.2em; 
    font-weight: bold
}
.vkit-instructions-note {
    margin-top: 1em;
    text-decoration: underline; 
    font-weight: bold;
}

.vkit-generate-section {
    
}

.vkit-spacer {
    height: 1em;
}

.vkit-generate-button {
    float: right;
    width: auto;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c
}

.vkit-spacing-options-link {
    padding-top: 1em;
    float:right; 
    font-style:italic;
}

.vkit-label {
    display:block;
}

.vkit-spacing-headline {
    text-align: center;
    margin-bottom: 1em;
    font-style: italic;
}
.vkit-expand-window-flex {
    display: flex;
    justify-content: space-around
}

.vkit-expand-window-flex-content {
    display: block;
}

.vkit-post-forum-note {
    color: red;
    font-style: italic;
    margin-top: 1em;
}

#printProgressObj {
    position:fixed;
    top: 40%; 
    left: 100px; 
    right: 100px; 
    margin: auto; 
    background-color: #DADADA; 
    border:thin solid black;
    display:none
}
